.detail{
    width: 60vw;
    min-height: 600px;
    background-color: #fff;
    margin: 50px auto;
    .detail_title{
        text-align: center;
        font-size: 28px;
        margin: 40px 0;
    }
    .loading{
        margin-top: 150px;
    }
    .detail_content{
        padding: 0 20px;
    }
}