.detail{
    width: 60vw;
    min-height: 600px;
    background-color: #fff;
    margin: 50px auto;
    .detail_title{
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }
}