.app{
    .app_content {
        width: 900px;
        min-height: 600px;
        margin: 50px auto;
        display: flex;
        justify-content: center;
        .content_left {
            width: 150px;   
            border: 1px solid #ccc;
            height: 100%;
            flex-shrink: 0;
            .left_item {
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid #ccc;
                cursor: pointer;
            }
        }
        .content_right{
            overflow: auto;
            width: 750px;
            min-height: 400px;
            background-color: #fff;
            .content_item {
                border-bottom: 1px solid rgba(178, 186, 194, 0.15);
                padding: 15px 20px;
                cursor: pointer;
                display: block;
            }
            .content_top{
                display: flex;
                justify-content: space-between;
                .item_catetory{
                    color: #ccc;
                }
            }
        }
    }
}




.selected{
    background-color: rgb(68, 157, 187);
    color: #fff;
}
.item_time{
    margin-top: 5px;
    color: #969696;
}

